autopy==4.0.0
click==8.0.1
colorama==0.4.4
DateTime==4.3
distro==1.5.0
docx==0.2.4
EasyProcess==0.3
entrypoint2==0.2.4
et-xmlfile==1.0.1
freeze==0.0.1
importlib-metadata==4.4.0
joblib==1.0.1
lxml==4.6.3
nltk==3.6.2
numpy~=1.21.0
openpyxl==3.0.7
pandas~=1.2.5
patool==1.12
Pillow==8.2.0
pydispatch==1.1.0
PyMuPDF==1.18.14
PyPDF2==1.26.0
python-dateutil==2.7.5
python-docx==0.8.11
pytz==2021.1
pyunpack==0.2.2
pywin32==301
rarfile==4.0
regex==2021.4.4
six==1.16.0
tabula-py==2.2.0
tqdm==4.61.0
typing-extensions==3.10.0.0
xlrd==1.2.0
XlsxWriter==1.4.3
zipp==3.4.1
zope.interface==5.4.0
dill~=0.3.4
pymorphy2~=0.9.1
sklearn~=0.0
scikit-learn~=0.24.2
gensim~=3.8.3